<link rel="stylesheet" type="text/css" href="/jquery.datetimepicker.css"/ >
<script src="/jquery.js"></script>
<script src="/jquery.datetimepicker.full.min.js"></script>

<% if flash[:message] %>
  <p class="alert alert-success center_top"><%= flash[:message] %></p>
<% end %>

<div class="center">
  <%= form_for :post, url: posts_path do |f| %>
    <%= f.text_field :text, class: 'form-control', placeholder: 'Post' %>
    <%= f.text_field :time, class: 'form-control', placeholder: 'Time', id: 'datetimepicker', onclick: "jQuery('#datetimepicker').datetimepicker();"%>
    <%= f.submit 'Publish post', class: 'btn btn-default' %>
  <% end %>
</div>

<%= form_for :news, url: posts_get_news_path do |f| %>
  <%= f.text_field :link, class: 'form-control', placeholder: 'Link' %>
  <%= f.submit 'Get News', class: 'btn btn-default' %>
<% end %>